<div id="nav">
  <a @class="classPoint1" href="#/">App</a>
  <a @class="classPoint2" href="#/test">App2</a>
  <a @class="classPoint3" href="#/todo">Todo</a>
</div>

<style>
  a {
    color: black;
    text-decoration: none;
  }
  .active {
    color: black;
    text-decoration: underline;
  }
</style>

<script>
  code = class {
    classPoint1 = '';
    classPoint2 = '';
    classPoint3 = '';

    onInitialized() {
      let nav = document.getElementById('nav'),
          links = nav.querySelectorAll('a');

      for (let i =0; i < links.length; ++i) {

        if(location.hash == links[i].getAttribute('href')) {
          this.classPoint1 = '';
          this.classPoint2 = '';
          this.classPoint3 = '';
          if(i==0) this.classPoint1 = 'active';
          if(i==1) this.classPoint2 = 'active';
          if(i==2) this.classPoint3 = 'active';
          break;
        }
      }

    }
  }
</script>